<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<script src="https://code.highcharts.com/highcharts.js"> </script>
	<link rel="shortcut icon" type="image/png" href="logo.png" />
	<title>Graphics</title>
</head>

<body>
	<h1>Graphic about temperature, humidity and pressure in the living room</h1>
	<p>
		<div id="chart_temperature" class="container"> </div>
	</p>
	<p>
		<div id="chart_humidity" class="container"> </div>
	</p>
	<p>
		<div id="chart_pressure" class="container"> </div>
	</p>
	<script type="application/javascript" src="/chart.js"></script>
</body>

</html>