<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/png" href="logo.png" />
  <title>Instant Data in the Living Room</title>
</head>

<body>
  <header>
    <img src="logo.png" alt="Logo" class="logo">
    <h1>Instant Data in the Living Room</h1>
  </header>

  <main>
    <h2>Current Data</h2>
    <div class="line-table">
      <div class="line-row">
        <div class="line-icon">
          <img class="icon" src="https://img.icons8.com/ios/50/clock--v1.png"/>
        </div>
        <div class="line-text"><strong>    Time:</strong> <%= timestamp %></div>
      </div>
      <div class="line-row">
        <div class="line-icon">
          <img class="icon" src="https://img.icons8.com/dusk/64/000000/thermometer.png"/>
        </div>
        <div class="line-text"><strong>    Temperature:</strong> <%= temperature %></div>
      </div>
      <div class="line-row">
        <div class="line-icon">
          <img class="icon" src="https://img.icons8.com/dusk/64/000000/hygrometer.png"/>
        </div>
        <div class="line-text"><strong>    Humidity:</strong> <%= humidity %></div>
      </div>
      <div class="line-row">
        <div class="line-icon">
          <img class="icon" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/60/external-barometer-nuclear-energy-vitaliy-gorbachev-lineal-vitaly-gorbachev.png"/>
        </div>
        <div class="line-text"><strong>    Pressure:</strong> <%= pressure %></div>
      </div>
    </div>
  </main>
</body>

</html>